LAB_1_HOST=0.0.0.0
LAB_1_PORT=5001
LAB_1_SECURITY_MODE=vulnerable
LAB_1_TARGET_SET_ID=lumi-market-1
LAB_1_SERVICE=lumi-market
LAB_1_DEPLOYMENT_VERSION=mysql-v1
LAB_1_DB_ENGINE=mysql
LAB_1_DB_HOST=mysql-1
LAB_1_DB_PORT=3306
LAB_1_DB_NAME=lumi_market_1
LAB_1_DB_USER=lumi_app_1
LAB_1_DB_PASSWORD=change-me-for-local-lab-1
LAB_1_DB_CONNECT_TIMEOUT=5
LAB_1_SECRET_KEY=change-me-for-lab-1
LAB_1_RESET_TOKEN=change-me-for-reset-1
MYSQL_DATABASE=lumi_market_1
MYSQL_USER=lumi_app_1
MYSQL_PASSWORD=change-me-for-local-lab-1
MYSQL_ROOT_PASSWORD=change-me-for-local-root-1
